html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 80px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#category h1 {
  font-size: 80px;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  max-height: 500px;
  margin-top: -64px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

em {
  color: #666;
}

pre {
  display: none;
}

.carousel .thumbs {
  padding: 0;
}

.carousel .thumb {
  padding: 0;
}

.carousel .thumbs-wrapper {
  margin: 20px 0;
}

.CalendarDay__selected_span {
  background: #074537;
  border: 1px double #074537;
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #095e4b;
  border: 1px double #095e4b;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #095e4b;
  border: 1px double #095e4b;
}
